<section class="section-height host-list-section">
  <h2>Find A Venue</h2>
  <hr>
  {{#each hosts}}
  <div class="host-list-card">
    <div><img src="{{this.host.imageUrl}}" alt="Living Room"></div> 
    <div>
      <p>Email: {{this.email}}</p>
      <p>City: {{this.host.city}}</p>
      <p>Room Capacity: {{this.host.roomCapacity}}</p>
      <p>Available Time: {{this.host.scheduleTime}}</p>
    </div>

    {{#unless this.isRequested}}
    <form method="POST" action="/lists/host-list/{{this._id}}">
      <div class="field submit">
        <button type="submit">Book</button>
      </div>
    </form>
    {{else}}
    <p class="request-sent">Request sent</p>
    {{/unless}}
  </div>
  {{/each}}

</section>