<section class="section-height request-section-layout">
  <h2>Your Requests</h2>
  <hr class= "hr-your-requests">
  {{#each requests}}
  <div class="requests-card">
    <div><img src="" alt="Living Room"></div> 
    <div>
      <p>Email: {{this.artistId.email}}</p>
      <p>Band Name: {{this.artistId.artist.bandName}}</p>
      <p>Genre: {{this.artistId.artist.genre}}</p>
      <p>status: {{this.status}}</p>
    </div>
    <form method="POST" action="/events/{{this._id}}">
      <div class="field submit">
        <button type="submit">Accept</button>
      </div>
    </form>

    <form method="POST" action="/lists/{{this._id}}/decline">
      <div class="field submit">
        <button type="submit">Decline</button>
      </div>
    </form>
  </div>
  <hr class= "hr-your-requests">
  {{/each}}

</section>