<section class="container section-height">

<h1 class="h1-profile">Welcome Back to Your Profile, {{currentUser.artist.bandName}}</h1>

<section class="section-profile">
    <p class="p-profile">Email: {{currentUser.email}}</p>
    <p class="p-profile">Band name: {{currentUser.artist.bandName}}</p>
    <p class="p-profile">Genre: {{currentUser.artist.genre}}</p>
</section>

  <section>
    <h3>Your Upcoming Events:</h3>
  </section>
  {{#unless events.length}}
  <p>You have no event yet.</p>
  {{else}}
  {{#each events}}
  <section>
      <p>Date: {{this.hostId.host.scheduleTime}}  </p>
      <p>Address: {{this.hostId.host.address}}, {{this.hostId.host.city}} </p>
  </section>
  {{/each}}
  {{/unless}}
</section>

