
<section class="section-height attendee-profile">
    <h1>Welcome to Your Profile</h1>
     

    <h3>Your Upcoming Events:</h3>
    
 {{#if isAttending}}
       
    {{#each events}}
  
    <article class="attendee-events">
        <p><b>Date</b>: {{this.hostId.host.scheduleTime}} </p>
        <p><b>Location</b>: {{this.hostId.host.address}}, {{this.hostId.host.city}}</p>
        <p><b>Genre</b>: {{this.artistId.artist.genre}}</p>
    </article>
    
    {{/each}}

  {{else}}
        <p>You haven't registered for any event yet!</p>
        {{/if}}

   

  
  
   


    <div class="checkevents-button">
        <a class="checkevents-link" href="/#events">Check Events</a>
    </div>
</section>
