<section class="container">

  <h1 class="h1-profile"><strong class="your-host-profile">Your Host Profile</strong></h1>


  <section id="host-profile-card">
      <h2>Your Images</h2>

      <img src="{{currentUser.host.imageUrl}}">



      <h2>Upload a new pic</h2>

      <form class="upload-pics-form" action='/users/upload-my-image' method="post" enctype="multipart/form-data">
        <input class="uplad-pics-input" type='file' name='image' accept="image/*"/>

        <button type="submit">Upload Image</button>
      </form>

      {{#if messages.length}}
      <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
      </ul>
    {{/if}}


    <section class="section-profile">
        <h3>Your Personal Information: </h3>
        <p class="p-profile">Email: {{currentUser.email}}</p>
        <p class="p-profile">City: {{currentUser.host.city}}</p>
        <p class="p-profile">Address: {{currentUser.host.address}}</p>
        <p class="p-profile">Phone Number: {{currentUser.host.phoneNumber}}</p>
        <p class="p-profile">Room Capacity: {{currentUser.host.roomCapacity}}</p>
    </section>
  </section>

  
 <form method="POST" action="">   
    <section class="section-profile">
        <label for="start">When do you want to host the event?</label>
        <input type="date" id="start" name="pickadate"
              value="2018-12-01"
              min="2018-12-01" max="2020-12-31">
      </section>
      <button class="submit-button-host" type="submit">Submit</button>
 </form>
  <div class="host-button-requests">
    <a class="alink-button"  href="/lists/my-requests">My Requests</a>
  </div>
</section>

