


<div class="header-block">
    <div class="container">
        <h1 class="auto-type"><strong>Find live shows in <span class="typed-string"></span></strong></h1>
        <h2>Enjoy performances around the world</h2>
    </div>
            <div>
                <a class="see-events-button" href="#events">CHECK EVENTS</a>
            </div>
</div>
<section class="container">
    <div>
        <h2>How it works</h2>
        <p>We hold intimate gigs in unique places, like someone's living room or vintage shop</p>

        <div>
            <div class="description-cards">
                <img class="icons-layout ticket-image" src="../images/ticket.png" alt="tickets-pic">
                <h4>1. Get Your Tickets for Free </h4>
                <p>Select location, date and genre. You won't know the name of the artist until the day of the event.</p>
                <hr>
            </div>
            <div class="description-cards">
                <img class="icons-layout" src="../images/rating.png" alt="performer-pic">
                <h4>2.Discover the Performer</h4>
                <p>The day before the event you will receive an email with the name of the performer.</p>
                <hr>
            </div>
            <div class="description-cards">
                <img class="icons-layout stage-image" src="../images/concert.png" alt="show-pic">
                <h4>3. Enjoy Live Shows</h4>
                <p>Come along and enjoy a great show.</p>
                <hr>
            </div>
        </div>
    </div>
</section>
<section class="container" style="padding-bottom:100px">
  
        <h2 id="events">Upcoming Events</h2>
        {{#each events}}
         <article>
        <div>
            <img>
            <h4>Show in {{this.hostId.host.city}}</h4>
            <p>Date and time: {{this.hostId.host.scheduleTime}}</p>
             <p>Address: {{this.hostId.host.address}}</p>
            <p>Tickets available: {{this.avalible}}</p>
            <p>Genre: {{this.artistId.artist.genre}}</p>
            {{#unless this.isAttending}}
             <form method="POST" action="/events/{{this._id}}/attend">
                <button type="submit">Attend</button>
             </form>
             {{else}}
             <p><strong>Already registered</strong></p>
             {{/unless}}
        </div>
    </article>
    {{/each}}
  
</section>
<script>
  var typed = new Typed('.typed-string', {
    strings: [" Barcelona"," Madrid", " London", " Paris"],
    typeSpeed: 100,
    backspeed: 40,
    backDelay: 1000,
    loop: true
  });
</script>
