


<div class="header-block">
    <div class="container">
        <h1 class="auto-type"><strong>Find live shows in <span class="typed-string"></span></strong></h1>
        <h2>Enjoy performances around the world</h2>
    </div>
            <div>
                <a class="see-events-button" href="">SEE EVENTS</a>
            </div>
</div>
<section class="container">
    <div>
        <h2>How it works</h2>
        <p>We hold intimate gigs in unique places, like someone's living room or vintage shop</p>

        <div>
            <div>
                <h4>1. Get Your Tickets for Free </h4>
                <p>Select location, date and genre. You won't know the name of the artist until the day of the event.</p>
            </div>
            <div>
                <h4>2.Discover the Performer</h4>
                <p>The day before the event you will receive an email with the name of the performer.</p>
            </div>
            <div>
                <h4>3. Enjoy Live Shows</h4>
                <p>Come along and enjoy a great show.</p>
            </div>
        </div>
    </div>
</section>
<section class="container">
  
        <h2>Upcoming Events</h2>
        {{#each events}}
         <article>
        <div>
            <img>
            <h4>Show in {{this.hostId.host.city}}</h4>
            <p>Date and time:</p>
             <p>Address: {{this.hostId.host.address}}</p>
            <p>Tickets available: {{this.hostId.host.roomCapacity}}</p>
            <p>Genre: {{this.artisId.artist.genre}}</p>
             <form method="POST" action="/events/{{this._id}}/attend">attend</form>
        </div>
    </article>
    {{/each}}
  
</section>
<script>
  var typed = new Typed('.typed-string', {
    strings: [" Barcelona"," Madrid", " London", " Paris"],
    typeSpeed: 100,
    backspeed: 40,
    backDelay: 1000,
    loop: true
  });
</script>
