<h1>Welcome to a host Profile</h1>
<!--
<form method="POST" action="/auth/login">
 <div>
   <label>City</label>
   <input type="email" name="email"/>
 </div>

 <div>
   <label>Password</label>
   <input type="password" name="password"/>
 </div>


 <div class="field submit">
   <button type="submit">Login</button>
 </div>
</form>

-->

<section>
    
    <p>Email: {{currentUser.host.email}}</p>
    <p>City: {{currentUser.host.city}}</p>
    <p>Address: {{currentUser.host.address}}</p>
    <p>Phone Number: {{currentUser.host.phoneNumber}}</p>
    <p>Room Capacity: {{currentUser.host.roomCapacity}}</p>
</section>